---
const example = [
  {
    name: "Svelte",
    src: "https://pbs.twimg.com/profile_images/1121395911849062400/7exmJEg4_400x400.png",
  },
  {
    name: "Three.js",
    src: "https://pbs.twimg.com/profile_images/1510259524271173638/lgTEVmRi_400x400.jpg",
  },
  {
    name: "Midulive",
    src: "https://pbs.twimg.com/profile_images/1824773087323111424/-S3LUmjQ_400x400.jpg",
  },
  {
    name: "Astro",
    src: "https://pbs.twimg.com/profile_images/1632785343433908224/SnMGR19O_400x400.png",
  },
  {
    name: "Fedewolf",
    src: "https://yt3.googleusercontent.com/ytc/AIdro_lkP2acLLShEwqF_wWyEE_3E1g77xcm4BhPnEEuWkfng_w=s160-c-k-c0x00ffffff-no-rj",
  },
];

const { data = example } = Astro.props;
---

<ul class="avatar flex">
  {
    data.map(({ name, src }) => (
      <li class="avatar-item relative -mr-5">
        <img
          class="avatar-image rounded-full border-[3px] border-white-100 w-16"
          src={src}
          alt={name}
        />
        <span class="avatar-name opacity-0 absolute z-0 text-small px-[6px] py-[2px] rounded-full text-blue-100 bg-black-500 border border-black-100 left-1/2 -top-6 -translate-x-1/2 -translate-y-1/2">
          {name}
        </span>
      </li>
    ))
  }
</ul>

<script>
  import { gsap } from "gsap";

  function initAvatar() {
    const $avatarList = document.querySelectorAll(".avatar");
    if (!$avatarList.length) return;

    $avatarList.forEach(($avatarItem) => {
      const handleAvatar = (ev, isEnter) => {
        const $item = ev.target.closest(".avatar-item");
        if ($item && $avatarItem.contains($item)) {
          const $name = $item.querySelector(".avatar-name");

          gsap.to($item, {
            y: isEnter ? -10 : 0,
            duration: 0.6,
            ease: "elastic.out(1.2, 0.7)",
          });

          gsap.to($name, {
            opacity: isEnter ? 1 : 0,
            filter: isEnter ? " blur(0px)" : "blur(7px)",
            duration: 0.2,
            ease: "power1.out",
          });
        }
      };

      $avatarItem.addEventListener(
        "mouseenter",
        (ev) => handleAvatar(ev, true),
        true,
      );
      $avatarItem.addEventListener(
        "mouseleave",
        (ev) => handleAvatar(ev, false),
        true,
      );
    });
  }

  if (typeof window !== "undefined") {
    document.addEventListener("DOMContentLoaded", initAvatar);
  }
</script>
