@import "tailwindcss";

@font-face {
  font-family: "geist-mono";
  src: url("/fonts/Geist-mono.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-custom: "X, -apple-system, BlinkMacSystemFont, " Segoe UI ", " Roboto
    ", " Oxygen ", " Ubuntu ", " Cantarell ", " Fira Sans ", " Droid Sans ", "
    Helvetica Neue ", sans-serif";

  --font-geist-code: "geist-mono", sans-serif;

  --hue: 266;

  /*blue */
  --color-blue: oklch(69% 0.17 279);
  /*yellow*/
  --color-y-100: oklch(96.86% 0.1013 104.51);
  --color-y-200: oklch(95.82% 0.1212 106.46);
  --color-y-300: oklch(93.56% 0.1599 106.03);
  --color-y-400: oklch(92.55% 0.1925 106.09);
  --color-y-500: oklch(93.71% 0.1988 105.01);
  --color-y-600: oklch(83.06% 0.176873 105.7341);
  --color-y-700: oklch(77.79% 0.1702 105.7341);

  /*gray*/
  --color-g-50: oklch(98.81% 0 0);
  --color-g-100: oklch(95.81% 0 0);
  --color-g-200: oklch(89.75% 0 0);
  --color-g-300: oklch(83.9% 0 0);
  --color-g-400: oklch(71.87% 0 0);
  --color-g-500: oklch(62.01% 0 0);
  --color-g-600: oklch(49.97% 0 0);
  --color-g-700: oklch(39.04% 0 0);
  --color-g-800: oklch(28.91% 0 0);
  --color-g-900: oklch(23.08% 0 0);
  --color-g-1000: oklch(20.02% 0 0);
  --color-g-1100: oklch(15.91% 0 0);

  --color-primary: var(--color-g-1000);
  --color-primary-dark: var(--color-g-100);

  --color-default: var(--color-g-800);
  --color-default-dark: var(--color-g-300);

  --color-yellow: var(--color-p-600);

  --color-light: var(--color-t-100);
  --color-dark: var(--color-g-1000);

  --color-block-code: var(--color-t-700);

  --container-7xl: 70rem;

  --shadow-cus: 0px 0px 25px rgba(0, 0, 0, 0.07);

  --text-h1: 2.1875rem;
  --text-h2: 1.688rem;
  --text-h3: 1.25rem;
  --text-subtitle: 1.125rem;
  --text-body: 1rem;
  --text-cta: 1rem;
  --text-small: 0.875rem;
  --text-xsmall: 0.75rem;

  --radius-xl: 0.75rem;

  --shadow-custom-yellow: 0px 0px 20px 2px oklch(92.55% 0.1925 106.09 / 0.5);

  --mask-avatar: "radial-gradient(circle 9px at -4px 50%, transparent 99%, #fff 100%)";
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  body {
    @apply bg-g-50 dark:bg-dark font-(family-name:--font-custom);
    h1,
    h2,
    h3 {
      @apply font-medium;
    }
    h1 {
      @apply text-h1;
    }
    h2 {
      @apply text-h2 mt-10 mb-5;
    }
    h3 {
      @apply text-h3 mt-5;
    }

    h1,
    h2,
    h3,
    h4 {
      @apply text-dark dark:text-g-100;
    }

    button,
    p,
    a,
    p,
    span {
      @apply text-default dark:text-default-dark font-light;
    }

    p,
    a,
    pre {
      @apply text-small;
    }

    p {
      @apply text-sm/7;
    }

    article {
      @apply w-full max-w-[43.75rem] min-w-[18.75rem] mx-auto;
      & h1 ~ p {
        @apply text-body text-default dark:text-default-dark;
        & > code {
          @apply bg-g-100 dark:bg-g-800 rounded-[6px] text-g-600 dark:text-g-400 px-[5px] py-[3px] text-xsmall font-(family-name:--font-geist-code);
        }
        & a {
          @apply text-body;
        }
      }
      & h1 ~ span:first-of-type {
        @apply text-small inline-block mt-1 mb-5 text-g-500;
        &:first-of-type::before {
          content: "Create on: ";
        }
      }

      & .desc-highlight {
        @apply text-primary dark:text-light;
      }

      & ol {
        counter-reset: listNumbers;
        counter-increment: listNumbers 0;
      }
      & ol > li {
        @apply text-default flex gap-3 items-center mb-3;
        & span > code {
          @apply bg-g-100 dark:bg-g-800 rounded-[6px] text-g-600 dark:text-g-400 px-[5px] py-[3px] text-xsmall font-(family-name:--font-geist-code);
        }
        &::before {
          content: counter(listNumbers);
          counter-increment: listNumbers;
          @apply w-7 h-7 flex items-center justify-center text-right dark:text-g-400 bg-g-100 dark:bg-g-800 dark:border dark:border-g-700 rounded-full text-xsmall;
        }
      }
      .external-link {
        @apply text-primary dark:text-g-100 relative inline-block text-body after:content-[""] after:bg-g-1000 dark:after:bg-g-100 after:w-full after:h-[1px] after:block after:bottom-[2px] after:absolute;
      }

      /* API Reference table */
      table {
        border-collapse: separate;
        border-spacing: 0;
        @apply bg-white dark:bg-g-900 border border-g-200 dark:border-g-800 rounded-xl w-full mt-5 block overflow-x-auto;

        @screen sm {
          @apply table;
        }
        code {
          @apply bg-g-100 inline-block dark:bg-g-800 rounded-[6px] text-g-600 dark:text-g-400 px-[5px] py-[3px] text-xsmall font-(family-name:--font-geist-code);
        }
      }
      th {
        @apply text-left text-primary dark:text-g-100 font-semibold p-[15px] text-small border-b border-g-200 dark:border-g-800;
      }
      tbody:has(> tr) tr {
        @apply bg-light dark:bg-transparent;
      }
      tbody:has(> tr > td) td {
        @apply p-[15px] dark:text-small text-default dark:text-g-400 text-small;
      }
    }

    /* PreviewComponent.astro */
    .header:has(p + .switch) {
      @apply justify-between;
    }
    .header:not(:has(p)) {
      @apply justify-end;
    }
    .preview,
    .code {
      @apply z-20 relative w-full max-w-[43.75rem] min-w-[18.75rem] h-[28.125rem] rounded-2xl overflow-hidden border-1 border-g-200 dark:border-g-800;
    }
    .preview {
      @apply p-[6px] bg-white dark:bg-g-1100;
    }
    .code {
      @apply bg-white;
    }
    .component {
      @apply absolute z-20 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex justify-center items-center w-full;
    }
    .radial-gradient {
      @apply w-full h-full absolute z-10 bottom-0 right-0 left-0 pointer-events-auto select-none inset-0;
    }

    .switch {
      @apply flex gap-[5px] p-1 bg-light dark:bg-g-900 border border-g-200 dark:border-g-800 rounded-xl w-max text-small;
    }
    .switch > button {
      @apply bg-transparent border border-transparent rounded-[8px] p-2;
      svg {
        @apply w-5;
      }
      svg,
      span {
        @apply text-g-500;
      }
    }
    .switch > .switch-active {
      @apply bg-g-100 dark:bg-y-500/10;
      svg,
      span {
        @apply text-g-800 dark:text-y-500;
      }
    }

    /* CodeBlock.astro */
    .astro-code code span {
      @apply font-(family-name:--font-geist-code);
    }
    pre {
      @apply !bg-transparent text-small;
      code {
        .line {
          @apply border-l-[3px] border-l-transparent text-small/[1.8];
        }
        .line.highlighted {
          @apply bg-blue/10 inline-block w-full border-blue;
        }
      }
    }
  }
  /* code */
  pre:not(.terminal) code {
    counter-reset: lineNumbers;
    counter-increment: lineNumbers 0;
    font-family: var(--font-geist-code);
  }

  pre:not(.terminal) code .line::before {
    content: counter(lineNumbers);
    counter-increment: lineNumbers;
    width: 1.5rem;
    margin-right: 0.938rem;
    display: inline-block;
    text-align: right;
    color: var(--color-g-600);
  }

  /* scrollbar */
  ::-webkit-scrollbar {
    width: 8px; /* Grosor de la barra vertical */
    height: 6px; /* Grosor de la barra horizontal */
  }

  /* Estilo del track (fondo) */
  ::-webkit-scrollbar-track {
    background: transparent; /* Color del track */
  }

  /* Estilo del thumb (deslizador) */
  ::-webkit-scrollbar-thumb {
    background: var(--color-gray-200); /* Color del thumb */
    border-radius: 8px;
  }

  /* Hover del thumb */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray-200); /* Color en hover */
  }

  @media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
      background: var(--color-g-700); /* Color del thumb */
    }

    /* Hover del thumb */
    ::-webkit-scrollbar-thumb:hover {
      background: var(--color-g-100); /* Color en hover */
    }
  }
  ::selection {
    @apply bg-y-200 text-g-1000;
  }

  @media (prefers-color-scheme: dark) {
    .shiki,
    .shiki span {
      color: var(--shiki-dark) !important;
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }
}
