@import "tailwindcss";

@font-face {
  font-family: "geist-mono";
  src: url("/fonts/SFMono-Medium.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-custom: Sohne, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  --font-geist-code: "geist-mono", sans-serif;

  /* blue */
  --color-b-50: oklch(97.69% 0.0153 222.68);
  --color-b-100: oklch(94.48% 0.0342 227.41);
  --color-b-200: oklch(90.74% 0.0612 224.17);
  --color-b-300: oklch(85.78% 0.0984 222.56);
  --color-b-400: oklch(79.24% 0.1334 228.76);
  --color-b-500: oklch(71.4% 0.1633 242.31);
  --color-b-600: oklch(64.53% 0.1948 252.59);
  --color-b-700: oklch(60.28% 0.2177 257.42);
  --color-b-800: oklch(49.79% 0.1781 257.87);
  --color-b-900: oklch(43.94% 0.1363 255.16);
  --color-b-1000: oklch(31.5% 0.0881 256.06);

  /*yellow*/
  --color-y-50: oklch(99.37% 0.0313 106.96);
  --color-y-100: oklch(98.45% 0.0789 108.54);
  --color-y-200: oklch(97.17% 0.1415 107.91);
  --color-y-300: oklch(94.71% 0.1847 105.79);
  --color-y-400: oklch(91.49% 0.1894 100.94);
  --color-y-500: oklch(88.48% 0.1816 94.9);
  --color-y-600: oklch(72.53% 0.1487 84.71);
  --color-y-700: oklch(58.89% 0.1231 76.14);
  --color-y-800: oklch(50.09% 0.1049 69.83);
  --color-y-900: oklch(44.08% 0.0906 65.88);
  --color-y-1000: oklch(29.91% 0.0644 62.03);

  /*gray*/
  --color-g-50: oklch(0.97 0 0);
  --color-g-100: oklch(93.81% 0 0);
  --color-g-200: oklch(89.75% 0 0);
  --color-g-300: oklch(83.9% 0 0);
  --color-g-400: oklch(71.87% 0 0);
  --color-g-500: oklch(62.01% 0 0);
  --color-g-600: oklch(49.97% 0 0);
  --color-g-700: oklch(39.04% 0 0);
  --color-g-800: oklch(28.91% 0 0);
  --color-g-900: oklch(23.08% 0 0);
  --color-g-1000: oklch(20.02% 0 0);
  --color-g-1100: oklch(16.84% 0 0);

  --text-h1: 1.375rem;
  --text-h2: 1.25rem;
  --text-h3: 1.125rem;
  --text-h4: 0.875rem;
  --text-body: 1rem;
  --text-cta: 1rem;
  --text-small: 0.875rem;
  --text-xsmall: 0.813rem;

  --max-w-5xl: 1100px;

  /* --spacing-4: 0.25rem; */
  /* --spacing-8: 0.5rem; */
  /* --spacing-12: 0.75rem; */
  /* --spacing-16: 1rem; */
  /* --spacing-24: 1.5rem; */
  /* --spacing-32: 2rem; */
  /* --spacing-40: 2.5rem; */
  /* --spacing-64: 4rem; */
  /* --spacing-128: 8rem; */

  --color-neutral-white: #ffffff;
  --color-neutral-black: oklch(16.84% 0 0);

  /* lightmode */
  --color-primary: var(--color-y-600);
  --color-default: var(--color-g-1000);
  --color-ghost: var(--color-g-600);
  --color-fg-primary: var(--color-neutral-white);
  --color-fg-secondary: var(--color-g-100);
  --color-fg-tertiary: var(--color-y-600);
  --color-border: var(--color-g-100);
  --color-blue: var(--color-b-700);

  /* darkmode */
  --color-primary-dark: var(--color-y-500);
  --color-default-dark: var(--color-g-50);
  --color-ghost-dark: var(--color-g-500);
  --color-border-dark: var(--color-g-800);
  --color-fg-primary-dark: oklch(36% 0 0 / 50%);
  --color-fg-secondary-dark: var(--color-g-900);
  --color-fg-tertiary-dark: var(--color-y-500);
  --color-blue-dark: var(--color-b-600);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  body {
    @apply bg-g-50 dark:bg-g-1000 font-(family-name:--font-custom);
    h1 {
      @apply text-h1;
    }
    h2 {
      @apply text-h2 mt-10 mb-6;
    }
    h2:has(+ h3) {
      @apply mb-3;
    }
    h2:has(+ p) {
      @apply mb-1;
    }
    h3 {
      @apply text-body mb-1;
    }
    #usage {
      @apply mt-6;
    }

    #easy-and-straightforward,
    #easy-customization,
    #clean-and-smooth-design,
    #microinteractions {
      @apply mt-6;
    }
    .slider-wrapper + h3 + p ~ h3 {
      @apply !mt-6;
    }

    h1,
    h2,
    h3,
    h4 {
      @apply text-default dark:text-default-dark font-semibold;
    }

    button,
    p,
    a,
    p,
    span {
      @apply text-default dark:text-default-dark font-normal;
    }
    p {
      line-height: 1.6;
    }

    button,
    p,
    a,
    p,
    span,
    h1,
    h2,
    h3,
    h4,
    ul > li,
    code {
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -webkit-text-size-adjust: 100%;
    }

    article {
      & h1 ~ p {
        @apply text-body dark:text-default-dark text-default;
        & > code {
          @apply bg-fg-secondary dark:bg-fg-primary-dark dark:text-ghost-dark inline-block rounded-[6px] text-ghost px-[5px] py-[1px] text-xsmall font-(family-name:--font-geist-code);
        }
        & a {
          @apply text-body;
        }
      }
      & h1 ~ span:first-of-type {
        @apply text-small inline-block mt-2 mb-6 text-ghost dark:text-ghost-dark;
      }

      & p > code {
        @apply font-normal bg-fg-secondary dark:bg-fg-primary-dark dark:text-ghost-dark inline-block rounded-[6px] text-ghost px-[5px] py-[1px] text-xsmall font-(family-name:--font-geist-code);
      }

      & ol {
        counter-reset: listNumbers;
        counter-increment: listNumbers 0;
      }
      & ol > li {
        @apply text-default flex gap-3 items-center mb-3 last-of-type:mb-0;
        & span > code {
          @apply bg-fg-secondary dark:bg-fg-primary-dark dark:text-ghost-dark inline-block rounded-[6px] text-ghost px-[5px] py-[2px] text-xsmall font-(family-name:--font-geist-code);
        }
        &::before {
          content: counter(listNumbers);
          counter-increment: listNumbers;
          @apply w-6 h-6 flex items-center z-10 justify-center text-right text-ghost rounded-[8px] text-xsmall bg-fg-primary dark:text-ghost-dark dark:bg-fg-secondary-dark border border-border dark:border-border-dark;
        }
      }
      ul:has(li > em) {
        @apply text-default mt-3;

        & li:has(> em) em {
          @apply font-medium;
        }

        & li:has(> em)::before {
          @apply w-full h-full inline ml-2 mr-2 content-["•"];
        }
      }

      .external-link {
        @apply text-default dark:text-default-dark relative inline-block text-body decoration-ghost dark:decoration-ghost-dark underline decoration-1 underline-offset-4;
      }

      /* API Reference table */
      table {
        border-collapse: separate;
        border-spacing: 0;
        @apply bg-neutral-white dark:bg-fg-secondary-dark rounded-xl w-full block overflow-x-auto border border-border dark:border-border-dark;

        code {
          @apply bg-fg-secondary dark:bg-fg-primary-dark dark:text-ghost-dark inline-block rounded-[6px] text-ghost px-[5px] py-[1px] text-xsmall font-(family-name:--font-geist-code);
        }
        .external-link {
          @apply text-small;
        }
      }
      th {
        @apply text-left text-default dark:text-default-dark font-semibold p-[15px] text-small;
      }
      tbody:has(> tr) tr {
        /* @apply bg-light; */
      }
      tbody:has(> tr > td) td {
        @apply p-[15px] text-default dark:text-default-dark text-small;
      }
    }

    /* PreviewComponent.astro */
    .header:not(:has(p)) {
      @apply justify-end;
    }
    .preview,
    .code {
      @apply bg-fg-primary dark:bg-fg-secondary-dark z-20 w-full max-w-[43rem] min-w-full relative h-[28.125rem] rounded-[12px] shadow-2xl shadow-neutral-black/5 overflow-hidden;
    }
    .preview {
      @apply p-[6px];
    }
    .component {
      @apply absolute z-20 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex justify-center items-center w-full;
    }
    .radial-gradient {
      @apply w-full h-full absolute z-10 bottom-0 right-0 left-0 pointer-events-auto select-none inset-0;
    }

    .switch {
      @apply flex gap-[5px] p-1 bg-fg-primary dark:bg-fg-secondary-dark rounded-xl w-max text-small;
    }
    .switch > button {
      @apply bg-transparent rounded-[8px] px-[6px] py-[2px];
      svg {
        @apply w-5;
      }
      svg,
      span {
        @apply text-ghost dark:text-ghost-dark;
      }
    }
    .switch > .switch-active {
      @apply bg-fg-secondary dark:bg-fg-primary-dark;
      svg,
      span {
        @apply text-default dark:text-default-dark;
      }
    }

    /* CodeBlock.astro */
    .astro-code code span {
      @apply font-(family-name:--font-geist-code);
    }
    pre {
      @apply !bg-transparent text-small;
      code {
        .line {
          @apply border-l-3 border-l-transparent text-small/[1.8];
        }
        .line.highlighted {
          @apply bg-blue/10 inline-block w-full border-blue dark:border-blue-dark dark:bg-blue-dark/10;
        }
      }
    }
  }
  /* code */
  pre:not(.terminal) code,
  pre:not(.terminal) pre code {
    counter-reset: lineNumbers;
    counter-increment: lineNumbers 0;
    font-family: var(--font-geist-code);
  }

  /* Numeración de líneas los que  NO tienen la clase .terminal */
  pre:not(.terminal) code .line::before,
  pre:not(.terminal) pre code .line::before {
    content: counter(lineNumbers);
    counter-increment: lineNumbers;
    @apply text-ghost dark:text-ghost-dark text-right inline-block ml-[0.25rem] mr-[1.2rem] w-[1.5rem];
  }

  /* Reglas específicas para elementos con clase .terminal */
  .terminal pre code,
  .terminal code,
  pre.terminal code,
  pre.terminal pre code {
    counter-reset: none;
    counter-increment: none;
  }

  .terminal pre code .line,
  .terminal code .line,
  pre.terminal code .line,
  pre.terminal pre code .line {
    @apply pl-2;
  }

  .terminal pre code .line::before,
  .terminal code .line::before,
  pre.terminal code .line::before,
  pre.terminal pre code .line::before {
    content: none;
    counter-increment: none;
  }

  /* scrollbar */
  ::-webkit-scrollbar {
    width: 8px; /* Grosor de la barra vertical */
    height: 6px; /* Grosor de la barra horizontal */
  }

  /* Estilo del track (fondo) */
  ::-webkit-scrollbar-track {
    background: transparent; /* Color del track */
  }

  /* Estilo del thumb (deslizador) */
  ::-webkit-scrollbar-thumb {
    background: var(--color-gray-200); /* Color del thumb */
    border-radius: 8px;
  }

  /* Hover del thumb */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray-200); /* Color en hover */
  }

  @media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
      background: var(--color-g-700); /* Color del thumb */
    }

    /* Hover del thumb */
    ::-webkit-scrollbar-thumb:hover {
      background: var(--color-g-100); /* Color en hover */
    }
  }
  ::selection {
    @apply bg-y-400 text-g-1000;
  }
  @media (prefers-color-scheme: dark) {
    ::selection {
      @apply bg-y-500 text-g-1000;
    }
  }

  @media (prefers-color-scheme: dark) {
    .shiki,
    .shiki span {
      color: var(--shiki-dark) !important;
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }
}
