---
import LayoutMain from "@layouts/LayoutMain.astro";
import { Experience } from "@components/experience/Experience";
---

<LayoutMain
  title="Astra"
  description="Catalog of UI components as smooth as butter: soft, fluid, and designed for developers."
>
  <div class="radial-gradient"></div>
  <div class="radial-gradient blur"></div>
  <div class="experience">
    <!-- <Experience client:load /> -->
  </div>
</LayoutMain>

<style>
  :root {
    --black-700: oklch(11.76% 0.0292 263.44);
  }
  .experience {
    width: 100%;
    height: 100vh;
  }
  .radial-gradient {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-image: radial-gradient(
      ellipse at center,
      transparent 60%,
      var(--black-700) 90%
    );
    pointer-events: none;
    user-select: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .radial-gradient.blur {
    mask-image: radial-gradient(
      ellipse at center,
      transparent 40%,
      var(--black-700) 100%
    );
    backdrop-filter: blur(1px);
  }
</style>
