---
import { navigationConfig } from "src/config/navigation-config";
import { SidebarToggle } from "../components/SidebarToggle.jsx";

const sideNavbarItems = navigationConfig.sidebarNavbar ?? [];
const { pathname } = Astro.url;

const cleanPathname = pathname.endsWith("/") ? pathname.slice(0, -1) : pathname;
---

<nav class="sidebar bg-neutral-white md:border-0 lg:bg-transparent">
  <SidebarToggle client:load> Menu </SidebarToggle>
  <div class="sidebar-items hidden lg:block">
    {
      sideNavbarItems.map((section, idx) => (
        <div class="px-5 lg:px-0 mt-5 md:mt-0">
          <h4 class="pb-2 text-small">{section.title}</h4>
          <ul class="items flex flex-col gap-1 mb-6">
            {sideNavbarItems[idx]?.items?.map(({ href, title }) => (
              <li
                class:list={[
                  cleanPathname === href && "bg-fg-secondary rounded-xl",
                ]}
              >
                <a
                  href={href}
                  class="relative z-10 block text-small py-[5px]"
                  class:list={[
                    cleanPathname === href &&
                      "text-default pl-[10px] sidebar-item-active",
                    cleanPathname !== href &&
                      "text-ghost hover:text-default transition-colors duration-200 sidebar-item",
                  ]}
                >
                  {title}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</nav>

<script>
  import gsap from "gsap";

  const sidebarLeft = document.querySelector(".sidebar") as HTMLElement;
  const items = sidebarLeft?.querySelector(".sidebar-items");
  const button = sidebarLeft?.querySelector(".sidebar-icon");

  const computedStyle = window.getComputedStyle(sidebarLeft);

  button?.addEventListener("click", () => {
    items?.classList.toggle("hidden");
    if (computedStyle.height === "41px") {
      sidebarLeft.style.height = "100%";
    } else {
      sidebarLeft.style.height = "41px";
    }
  });

  function foo(ev: Event, isEnter: Boolean) {
    const element = ev.target as HTMLElement;
    const item = element.closest(".sidebar-item");

    if (item) {
      gsap.to(item, {
        x: isEnter ? 10 : 0,
        duration: 0.35,
        ease: "power4.out",
      });
    }
  }

  sidebarLeft?.addEventListener("mouseenter", (ev) => foo(ev, true), true);
  sidebarLeft?.addEventListener("mouseleave", (ev) => foo(ev, false), true);
</script>
