---
import { Icon } from "astro-icon/components";
---

<button
  type="button"
  class="btn p-[5px] text-body mr-[6px] transition-shadow duration-200"
>
  <span>
    <slot />
  </span>
  <Icon name="copy" />
</button>

<script>
  const $pre = document.querySelectorAll("pre.astro-code.github-dark");
  const $btnCopy = document.querySelectorAll(".btn");

  $pre.forEach((item, i) => {
    let text = item?.textContent;

    const copyText = async () => {
      try {
        await navigator.clipboard.writeText(text || "");
      } catch (err) {
        console.warn("Failed to copy: " + err);
      }
    };
    $btnCopy[i].addEventListener("click", copyText);
  });
</script>

<style>
  pre {
    all: unset;
  }
  .codeblock__btn {
    &:hover {
      box-shadow: 0px 0px 8px 1px var(--blue-400);
    }
  }
</style>
