---
import { Icon } from "astro-icon/components";
import { Code } from "astro:components";
import { transformerMetaHighlight } from "@shikijs/transformers";

import BtnCopy from "./BtnCopy.jsx";

const { code, name, meta } = Astro.props;

const hasFileName = !!name;
---

<figure
  class="absolute z-20 rounded-xl overflow-hidden flex flex-col max-w-[51.125rem] min-w-[18.75rem] w-full h-[28.125rem] bg-black-400"
>
  <div
    class="flex items-center justify-between bg-black px-2 py-2 border-b border-(--border-color)"
  >
    <div>
      <figcaption
        class="px-2 py-[5px] sticky top-0 flex items-center gap-2 bg-blue/15 rounded-[10px]"
      >
        <Icon name="astro" class="text-small" />
        {
          hasFileName && (
            <span class="filename text-primary text-xsmall italic font-medium">
              {name}.astro
            </span>
          )
        }
      </figcaption>
    </div>
    <BtnCopy code={code} client:load />
  </div>
  <Code
    lang="astro"
    code={code}
    transformers={[transformerMetaHighlight()]}
    meta={meta}
  />
</figure>

<style></style>
