---
import { Icon } from "astro-icon/components";
import { Code } from "astro:components";
import { transformerMetaHighlight } from "@shikijs/transformers";
import BtnCopy from "./BtnCopy.jsx";

const { code, name, meta } = Astro.props;

const hasFileName = !!name;
---

<figure
  class="absolute z-20 bg-t-600 flex flex-col gap-1 w-full h-full overflow-hidden"
>
  <div
    class="flex items-center justify-between dark:bg-transparent px-[15px] py-[10px] border-b border-g-800"
  >
    <figcaption class="sticky top-0 flex items-center gap-2">
      <Icon name="astro" class="text-small" />
      {
        hasFileName && (
          <p class="filename text-small text-g-500 flex">
            <span>/src/components/ui/</span>
            <span class="-ml-[1px] text-g-100">{name}</span>
            <span class="text-g-100">.astro</span>
          </p>
        )
      }
    </figcaption>
    <BtnCopy code={code} client:load />
  </div>
  <Code
    class="rounded-xl"
    lang="astro"
    theme="material-theme-darker"
    code={code}
    transformers={[transformerMetaHighlight()]}
    meta={meta}
  />
</figure>
