---
const { class: customClass = "" } = Astro.props;
---

<div class={`gridbg ${customClass}`}></div>

<script>
  const cellCount = 2500;
  const specialCellsCount = 20;
  const $grids = document.querySelectorAll(".gridbg");

  if ($grids) {
    $grids.forEach(($grid) => {
      const $fragment = document.createDocumentFragment();

      const specialCells = new Set();

      while (specialCells.size < specialCellsCount) {
        specialCells.add(Math.floor(Math.random() * cellCount));
      }

      for (let i = 0; i < cellCount; i++) {
        const $cell = document.createElement("div");
        $cell?.classList.add("cell");

        $fragment.appendChild($cell);
      }
      $grid?.appendChild($fragment);
    });
  }
</script>

<style is:global>
  .gridbg {
    display: grid;
    grid-template-columns: repeat(69, 1fr);
    gap: 22px;
  }
  .cell {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    opacity: 70%;
  }
</style>
