---
import { navigationConfig } from "src/config/navigation-config";
import { MenuToggle } from "../components/MenuToggle.jsx";
import { Icon } from "astro-icon/components";

const mainNavbarItems = navigationConfig.mainNavbar[0].items ?? [];
---

<header class="sticky h-14 inset-0 z-50 bg-g-50 dark:bg-dark flex px-5 md:px-0">
  <nav
    class="flex justify-between items-center navbar w-full max-w-7xl mx-auto"
  >
    <a href="/" class="flex items-center gap-1">
      <Icon name="logo" width="35" height="35" />
    </a>
    <MenuToggle client:load />
    <ul
      class="navbar-items hidden gap-5 fixed right-0 left-0 top-16 border-b bg-g-50 dark:bg-g-1000 border-g-800 md:border-0 p-3 space-y-2 md:space-y-0 md:flex md:relative md:top-0 md:left-0 md:right-0 md:bg-transparent md:text-body"
    >
      {
        mainNavbarItems.map(({ title, href }) => (
          <li>
            <a
              href={href}
              class="block md:inline dark:hover:bg-y-500/10 md:dark:hover:bg-transparent md:hover:bg-transparent text-g-500 hover:text-g-900 dark:hover:text-y-500 px-4 py-2 md:p-0 rounded-xl text-lg md:text-small transition-colors"
            >
              {title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<script>
  const navbar = document.querySelector(".navbar");

  const items = navbar?.querySelector(".navbar-items");
  const button = navbar?.querySelector(".navbar-icon");

  button?.addEventListener("click", () => {
    items?.classList.toggle("hidden");
  });
</script>
