---
import { navigationConfig } from "src/config/navigation-config";
import MenuToggle from "../components/MenuToggle.jsx";
import Icon from "./Icon.astro";

const mainNavbarItems = navigationConfig.mainNavbar[0].items ?? [];
---

<header
  class="sticky h-14 inset-0 z-55 flex px-5 lg:px-0 bg-neutral-white dark:bg-fg-secondary-dark lg:bg-transparent dark:lg:bg-transparent"
>
  <nav
    class="flex justify-between items-center navbar w-full max-w-[1200px] mx-auto"
  >
    <a href="/" class="flex items-center gap-1">
      <Icon id="logo" size="36" />
    </a>
    <MenuToggle client:load />
    <ul
      class="navbar-items hidden gap-5 fixed right-0 left-0 top-16 border-b border-border dark:border-border-dark bg-neutral-white dark:bg-fg-secondary-dark dark:lg:bg-transparent md:border-0 p-3 space-y-2 md:space-y-0 md:flex md:relative md:top-0 md:left-0 md:right-0 md:bg-transparent md:text-body"
    >
      {
        mainNavbarItems.map(({ title, href }) => (
          <li>
            <a
              href={href}
              class="block md:inline md:hover:bg-transparent hover:bg-fg-secondary dark:hover:bg-fg-primary-dark text-ghost dark:text-ghost-dark hover:text-default dark:lg:hover:bg-transparent dark:hover:text-default-dark px-4 py-2 md:p-0 rounded-xl text-lg md:text-small transition-colors"
            >
              {title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<script>
  const navbar = document.querySelector(".navbar");

  const items = navbar?.querySelector(".navbar-items");
  const button = navbar?.querySelector(".navbar-icon");

  button?.addEventListener("click", () => {
    items?.classList.toggle("hidden");
  });
</script>
