---
import { navigationConfig } from "src/config/navigation-config";
import { MenuToggle } from "../components/MenuToggle.jsx";
import { Icon } from "astro-icon/components";

const mainNavbarItems = navigationConfig.mainNavbar[0].items ?? [];
---

<header
  class="absolute h-14 top-0 px-5 md:px-0 left-0 right-0 z-50 flex max-w-5xl mx-auto"
>
  <nav class="flex justify-between items-center navbar w-full">
    <div class="flex items-center gap-1">
      <Icon name="logo" width="35" height="35" />
    </div>
    <MenuToggle client:load />
    <ul
      class="navbar-items hidden gap-5 absolute right-5 left-5 top-16 border bg-g-50 backdrop-blur-xl md:backdrop-blur-none rounded-2xl border-g-800 md:border-0 p-3 space-y-2 md:space-y-0 md:flex md:relative md:top-0 md:left-0 md:right-0 md:bg-transparent md:text-body"
    >
      {
        mainNavbarItems.map(({ title, href }) => (
          <li>
            <a
              href={href}
              class="block md:inline px-4 py-2 md:p-0 hover:text-default transition-colors rounded-xl text-subtitle md:text-small text-ghost"
            >
              {title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<script>
  const navbar = document.querySelector(".navbar");

  const items = navbar?.querySelector(".navbar-items");
  const button = navbar?.querySelector(".navbar-icon");

  button?.addEventListener("click", () => {
    items?.classList.toggle("hidden");
  });
</script>
