---
import { Icon } from "astro-icon/components";

const { headings } = Astro.props;
const { pathname } = Astro.url;
const heads = headings.slice(1) ?? [];
---

<aside class="sidebar hidden lg:block">
  <h4 class="text-h4 pb-2">Content</h4>
  <ul class="flex flex-col gap-1">
    {
      heads.map(
        ({
          depth,
          slug,
          text,
        }: {
          depth: number;
          slug: string;
          text: string;
        }) => (
          <li class:list={[depth !== 2 ? "ml-3" : "", "py-[2px]"]}>
            <a
              href={`#${slug}`}
              class="block text-small text-ghost hover:text-default transition-colors py-[2px]"
            >
              {text}
            </a>
          </li>
        ),
      )
    }
  </ul>
  <ul class="pt-6">
    <li>
      <a
        href={`https://github.com/HeJimenez00/AstraUI/tree/main/src/content${pathname}.mdx`}
        target="_blank"
        class="flex items-center gap-1 text-small"
      >
        <Icon name="edit" class="text-default" />
        <span class="text-default">Edit this page</span>
      </a>
    </li>
  </ul>
</aside>
