---
import Icon from "./Icon.astro";

const { headings } = Astro.props;
const { pathname } = Astro.url;
const heads = headings.slice(1) ?? [];

const cleanPathname = pathname.endsWith("/") ? pathname.slice(0, -1) : pathname;
---

<aside class="sidebar hidden lg:block">
  <h4 class="text-h4 pb-2">Content</h4>
  <ul class="flex flex-col gap-1">
    {
      heads.map(
        ({
          depth,
          slug,
          text,
        }: {
          depth: number;
          slug: string;
          text: string;
        }) => (
          <li class:list={[depth !== 2 ? "ml-3" : "", "py-[2px]"]}>
            <a
              href={`#${slug}`}
              class="block text-small text-ghost dark:text-ghost-dark hover:text-default dark:hover:text-default-dark transition-colors py-[2px]"
            >
              {text}
            </a>
          </li>
        ),
      )
    }
  </ul>
  <ul class="pt-6">
    <li>
      <a
        href={`https://github.com/HeJimenez00/AstraUI/tree/main/src/content${cleanPathname}.mdx`}
        target="_blank"
        class="inline-flex items-center gap-1 text-small relative after:content-[''] after:bg-default after:dark:bg-default-dark after:w-full after:h-[1px] after:block after:bottom-0 after:absolute"
      >
        <div class="text-default dark:text-default-dark">
          <Icon id="edit" size="20" />
        </div>
        <span class="text-default dark:text-default-dark">Edit this page</span>
      </a>
    </li>
  </ul>
</aside>
