---
import { Icon } from "astro-icon/components";

const { headings } = Astro.props;
const { pathname } = Astro.url;
const heads = headings.slice(1) ?? [];
---

<aside class="sidebar hidden md:block">
  <h4 class="font-medium text-small pb-2">Content</h4>
  <ul class="border-l dark:border-g-500/15 flex flex-col">
    {
      heads.map(
        ({
          depth,
          slug,
          text,
        }: {
          depth: number;
          slug: string;
          text: string;
        }) => (
          <li class:list={[depth !== 2 ? "ml-3" : "", "py-[6px]"]}>
            <a
              href={`#${slug}`}
              class="block pl-3 dark:text-g-500 dark:hover:text-g-300 transition-colors"
            >
              {text}
            </a>
          </li>
        ),
      )
    }
  </ul>
  <ul class="mt-5">
    <li>
      <a
        href={`https://github.com/HeJimenez00/AstraUI/tree/main/src/content${pathname}.mdx`}
        target="_blank"
        class="flex items-center gap-2"
      >
        <Icon name="edit" class="text-g-100" />
        <span class="text-g-100">Edit this page</span>
      </a>
    </li>
  </ul>
</aside>
