---
import { Icon } from "astro-icon/components";

const { pathname } = Astro.url;
const separate = pathname.split("/").filter(Boolean);
---

<p class="flex items-center gap-2 capitalize mb-2">
  <span class="text-g-500">{separate[separate.length - 2]}</span>
  <span> <Icon name="arrowRight" class="text-g-800 dark:text-y-500" /> </span>
  <span class="text-g-800 dark:text-y-500">{separate[separate.length - 1]}</span
  >
</p>
