---
import HTMLRender from "./HTMLRender.astro";

const { title = "step-title", description = "step-description" } = Astro.props;
---

<li class="first:pt-4 pb-10 mb-0 relative flex items-start">
  <div class="relative top-2 w-full">
    <h3 class="p-0">{title}</h3>
    <div class="relative flex mt-4 flex-col">
      <HTMLRender text={description} />
      <!-- Here goes the code for the step -->
      <slot />
    </div>
  </div>
</li>

<style>
  li::after {
    @apply content-[''] absolute z-0 left-[10px] block w-[1px] h-full bg-(--color-border) dark:bg-(--color-border-dark);
  }
  li:last-child::after {
    height: 0;
  }
</style>
