---
import { Code } from "astro:components";
import { codeToHtml } from "shiki";
import { transformerMetaHighlight } from "@shikijs/transformers";
import BtnCopy from "./BtnCopy.jsx";

interface Props {
  code: string;
}

const { code } = Astro.props;

const textCode = await codeToHtml(code, {
  lang: "bash",
  themes: {
    light: "snazzy-light",
    dark: "ayu-dark",
  },
  transformers: [
    {
      code(node) {
        this.addClassToHast(node, "astro");
      },
    },
    transformerMetaHighlight(),
  ],
});
---

<div
  class="rounded-[15px] my-4 bg-white dark:bg-g-900 border border-g-200 dark:border-g-800 flex items-center justify-between py-[15px] pl-0 pr-[15px]"
>
  <div class="terminal" lang={"astro"} set:html={textCode} />
  <div>
    <BtnCopy code={code} client:load />
  </div>
</div>
