---
import { Code } from "astro:components";
import BtnCopy from "./BtnCopy.jsx";

interface Props {
  code: string;
}

const { code } = Astro.props;
---

<div
  class="rounded-[15px] my-4 bg-g-900 border border-g-800 flex items-center p-[15px]"
>
  <Code code={code} lang="bash" class="rounded-[8px] terminal" />
  <div>
    <BtnCopy code={code} client:load />
  </div>
</div>
