---
import Jumpy from "../butter/Jumpy.astro";

const images = [
  {
    src: "https://cdn-icons-png.flaticon.com/512/3991/3991951.png",
    alt: "Dribbble logo",
    href: "https://dribbble.com/",
  },
  {
    src: "https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/1690643591twitter-x-logo-png.webp/2000px-1690643591twitter-x-logo-png.webp.png",
    alt: "X logo",
    href: "https://x.com/heeector00",
  },
  {
    src: "https://img.freepik.com/vector-premium/logo-linkedin_578229-227.jpg",
    alt: "LinkedIn logo",
    href: "https://www.linkedin.com/feed/",
  },
];
---

<h1
  class="text-center text-black dark:text-white text-4xl/tight md:text-5xl/tight lg:text-6xl/tight"
>
  <span>Thanks for visiting!</span>
  <span class="flex items-center gap-4"
    >Reach me on <div>
      <Jumpy
        images={images}
        wrapperStyles="!ring-0"
        size="small"
        spacing="-ml-4 md:-ml-5"
        spacingHover={20}
      />
    </div>
  </span>
</h1>
