---
import Jumpy from "../astra/Jumpy.astro";

const images = [
  {
    src: "https://cdn-icons-png.flaticon.com/512/3991/3991951.png",
    alt: "Dribbble logo",
    href: "https://dribbble.com/",
  },
  {
    src: "https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/1690643591twitter-x-logo-png.webp/2000px-1690643591twitter-x-logo-png.webp.png",
    alt: "X logo",
    href: "https://x.com/heeector00",
  },
  {
    src: "https://img.freepik.com/vector-premium/logo-linkedin_578229-227.jpg",
    alt: "LinkedIn logo",
    href: "https://www.linkedin.com/feed/",
  },
];
---

<h1 class="text-center text-6xl/tight">
  <span class="text-white">Thanks for visiting!</span>
  <span class="flex items-center gap-5 text-white"
    >Reach me on <Jumpy
      images={images}
      wrapperStyles="w-12 h-12 rounded-md overflow-hidden shadow-xl shadow-black"
      duration={0.4}
      gap="-ml-2"
      separation={13}
    /></span
  >
</h1>
