---
import { Vault } from "@butter-js/ui";
---

<Vault
  labelClass={`bg-zinc-200 dark:bg-zinc-700 px-5 py-2 rounded-xl`}
  vaultClass="z-41 bg-zinc-100 dark:bg-zinc-800 pb-5 px-5 rounded-2xl"
  notchClass="bg-zinc-300 dark:bg-zinc-600"
  footerClass="bg-zinc-100 dark:bg-zinc-800 z-40"
>
  <h3 class="mt-0 mb-3 p-0">Motion</h3>
  <p class="mb-3 dark:text-zinc-50">
    Beautiful, fluid motions bring the interface to life, conveying status,
    providing feedback and instruction, and enriching the visual experience of
    your app or game.
  </p>
  <img
    src="https://w0.peakpx.com/wallpaper/236/488/HD-wallpaper-mac-os-ventura-dark-macos-ventura-macbook-apple-computer.jpg"
    alt="Imagen"
    class="rounded-2xl h-[400px] object-cover w-full"
  />
</Vault>
