---
import NavbarMain from "@components/NavbarMain.astro";
import "../styles/global.css";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <meta property="og:url" content="https://butterui.com/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="Catalog of UI components as smooth as butter: soft, fluid, and designed for developers"
    />
    <meta property="og:image" content="https://www.butterui.com/OG.jpg" />
    <meta property="og:locale" content="en_US" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@heeector00" />
    <meta name="twitter:creator" content="@heeector00" />
    <meta
      name="twitter:title"
      content="A catalog of UI components as smooth as butter — soft, fluid, and developer-friendly"
    />
    <meta
      name="twitter:description"
      content="Catalog of UI components as smooth as butter: soft, fluid, and designed for developers"
    />

    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  </head>
  <body>
    <NavbarMain />
    <slot />
  </body>
</html>
