---
import AsideNavbar from "@components/AsideNavbar.astro";
import NavbarDocs from "@components/NavbarDocs.astro";
import OnThisPage from "@components/OnThisPage.astro";
import "../styles/global.css";
import Footer from "@components/Footer.astro";
import Route from "@components/Route.astro";

const { title, description, headings } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <NavbarDocs />
    <div class="max-w-8xl mx-auto grid grid-cols-[0.25fr_1fr_0.2fr] relative">
      <AsideNavbar />
      <article class="px-8 pt-5">
        <Route />
        <slot />
        <Footer />
      </article>
      <OnThisPage headings={headings} />
    </div>
  </body>
</html>

<style is:global>
  .aside {
    position: sticky;
    height: calc(100vh - 10rem);
    top: 4rem;
  }
</style>
