---
import AsideNavbar from "@components/AsideNavbar.astro";
import NavbarDocs from "@components/NavbarDocs.astro";
import OnThisPage from "@components/OnThisPage.astro";
import Footer from "@components/Footer.astro";
import "../styles/global.css";

const { title, description, headings } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <meta property="og:url" content="https://butterui.com/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="Catalog of UI components as smooth as butter: soft, fluid, and designed for developers"
    />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/HeJimenez00/ButterUI/refs/heads/main/src/assets/OG.jpg"
    />
    <meta property="og:locale" content="en_US" />

    <meta name="twitter:card" content="sumary_large_image" />
    <meta name="twitter:site" content="@heeector00" />
    <meta name="twitter:creator" content="@heeector00" />
    <meta
      name="twitter:title"
      content="A catalog of UI components as smooth as butter — soft, fluid, and developer-friendly"
    />
    <meta
      name="twitter:description"
      content="Catalog of UI components as smooth as butter: soft, fluid, and designed for developers"
    />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  </head>
  <body>
    <NavbarDocs />
    <div
      class="max-w-[1100px] min-w-[300px] gap-16 mx-auto lg:grid md:grid-cols-[0.22fr_1fr_0.22fr] relative"
    >
      <div class="gradient-blur-top"></div>
      <AsideNavbar />
      <article class="pt-[4.563rem] lg:pt-[1.8rem] px-5 lg:px-0 max-w-full">
        <slot />
        <Footer />
        <div class="gradient-blur"></div>
      </article>
      <OnThisPage headings={headings} />
    </div>
  </body>
</html>

<style is:global>
  .sidebar {
    position: fixed;
    left: 0;
    right: 0;
    height: 41px;
    width: 100%;
    z-index: 30;
  }
  @media (min-width: 1024px) {
    .sidebar {
      position: sticky;
      height: calc(100vh - 56px);
      width: auto;
      left: auto;
      right: auto;
      padding-top: 2rem;
      top: 3.5rem;
    }
  }

  .gradient-blur-top {
    position: fixed;
    inset: 0 0 auto 0;
    height: 60px;
    pointer-events: none;
    z-index: 50;
  }

  .gradient-blur-top::before,
  .gradient-blur-top::after {
    content: "";
    position: absolute;
    inset: 0;
  }

  .gradient-blur-top::before {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    mask: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
    -webkit-mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 60%
    );
    z-index: 51;
  }

  .gradient-blur-top::after {
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    mask: linear-gradient(to top, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 100%);
    -webkit-mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 1) 100%
    );
    z-index: 52;
  }
  .gradient-blur {
    position: fixed;
    inset: auto 0 0 0;
    height: 60px;
    pointer-events: none;
    z-index: 50;
  }

  .gradient-blur::before,
  .gradient-blur::after {
    content: "";
    position: absolute;
    inset: 0;
  }

  .gradient-blur::before {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%);
    -webkit-mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 60%
    );
    z-index: 51;
  }

  .gradient-blur::after {
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 1) 100%
    );
    -webkit-mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 1) 100%
    );
    z-index: 52;
  }
</style>
