---
import AsideNavbar from "@components/AsideNavbar.astro";
import NavbarDocs from "@components/NavbarDocs.astro";
import OnThisPage from "@components/OnThisPage.astro";

const { title, description, headings } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="bg-black-700 text-white-100">
    <NavbarDocs />
    <div class="content max-w-8xl mx-auto grid relative">
      <AsideNavbar />
      <article class="px-8 pt-5">
        <slot />
      </article>
      <OnThisPage headings={headings} />
    </div>
  </body>
</html>

<style>
  body {
    h1 {
      @apply text-h1 font-semibold;
    }
    h2 {
      @apply text-h2;
    }
    h3 {
      @apply text-h3;
    }

    h1,
    h2,
    h3,
    h4 {
      @apply text-white-100;
    }

    a,
    p {
      @apply text-small text-white-500;
    }

    article {
      h1 {
        @apply mb-3;
      }

      & h1 + p {
        @apply text-body;
      }
    }
  }

  .content {
    grid-template-columns: 0.25fr 1fr 0.2fr;
  }
  @font-face {
    font-family: "Instrument Serif";
    src: url("/fonts/instrument-serif.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
